.monster.card{
    display: grid;
    grid-template-columns: 400px 400px;
    grid-template-rows: 1fr;
    border-top: 3px solid #27343B70;
    border-left: 2px solid #27343B50;
    border-bottom: 1px solid #27343B50;
    border-right: 0px solid #27343B50;
    border-radius: 3%;
    background-color: #F8F2CD;
    box-shadow: -20px 0 30px -15px #00000030,
    20px 0 15px -20px #00000030;
    padding-left: .4em;
    padding-right: .4em;
    padding-top: .15em;
    padding-bottom: .15em;
}

.monster.card *{
    font-size: .95em;
}

.side{
    display: flex;
    flex-direction: column;
    justify-content: left;
    justify-items: left;
    margin-left: 1em;
    margin-right: 1em;
}
.heading *{
    margin: 0px;
}

.heading .card-title{
    font-size: 1.5em;
    font-family: "Libre Baskerville", serif;
    font-weight: 700;
    color: #981E30;
}

.heading p{
    font-style: italic;
}
.field-name{
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    color: #981E30;
}
.field-value{
    font-family: "Poppins", sans-serif;
    font-weight: 350;
    color: #BA341E;
}
.ability-score{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr 1fr;
    row-gap: 1em;
    column-gap: 1em;
}
.ability-score *{
    margin: 0px;
    text-align: center;
}

.challenge-proficiency-area{
    display: flex;
    flex-direction: row;
    justify-content: left;
    gap: 4em;
}
.challenge-proficiency-area *{
    margin-top: 0px;
}
.detail-name{
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    color: #000000;
    font-style: italic;
}
.detail-description{
    font-family: "Poppins", sans-serif;
    font-weight: 350;
    color: #000000;
}
.action-area .action-title{
    font-size: 1.5em;
    font-family: "Libre Baskerville", serif;
    font-weight: 600;
    color: #981E30;
    margin-bottom: 0px;
}
.action-name{
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    color: #000000;
    font-style: italic;
}
.action-description{
    font-family: "Poppins", sans-serif;
    font-weight: 350;
    color: #000000;
}
.italic-style{
    font-style: italic;
}
p, h3 {
    text-align: left;
}
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 2px solid #BA341E;
    margin: .5em 0;
    padding: 0;
}